

.font_Redes{
    font-size: small;
}
.subtitulo{
    margin-top: 50px;
}
.article_Experiencia{
    font-size: medium;
}
.separador{
    margin-top: 50px;
}
.datos_Personales { 
    margin-top: 20px;
    margin-right: auto;
    margin-left: 500;
}
.formacion_Academica{
    margin-top: 10px;
    margin-right: auto;
    padding: 30px;
    border: 2px;
    border-style: solid;
}
.texto_Pie{
    color: white;
}