
.foto{
    position: static; 
    margin-left: auto;
}
.datos_Personales { 
    margin-top: 20px;
    margin-right: auto;
    margin-left: 500;
}
.formacion_Academica{
    margin-top: 10px;
    margin-right: auto;
    padding: 30px;
    border: 2px;
    border-style: solid;
}
.texto_Pie{
    color: white;
}