
/*.foto{
    position: static; 
    top: 130px; 
    left: 2500px; 
}*/
.datos_Personales { 
    margin-top: 20px;
    margin-right: auto;
    margin-left: 500;
}
.formacion_Academica{
    margin-top: 10px;
    margin-right: auto;
    padding: 30px;
    border: 5px;
    border-style: solid;
}